<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Literal</title>
  <style>
    span { font-weight: bold }
  </style>
</head>
<body>
<h1>Literal</h1>
<ul>
  <li>'hello ' + 'world' = <span th:text="'hello ' + 'world'"></span></li>
  <li>'hello world~!' = <span th:text="'hello world~!'"></span></li>
  <li>${data} + 'world!' = <span th:text="${data} + 'world!'"></span></li>
  <li>|hello ${data}| = <span th:text="|hello ${data}|"></span></li>
</ul>
</body>
</html>